// fondo general del main
// $bg-color: #ececec;
$bg-color: rgb(240, 248, 255);
// font color black
$font-black: black;
// bg del fotter y header
// $bg-foot-head: #c5ecec;
$bg-foot-head: rgb(240, 248, 255);

$font: "Montserrat", sans-serif;
